@{
    ViewData["Title"] = "Достъп отказан";
}

<div class="text-center mt-5">
    <h3>Достъп отказан!</h3>
    <p>Нямате права да влизате в тази страница.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
        Начало
    </a>
</div>
