@{
    ViewData["Title"] = "404 - Страницата не е намерена";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-danger">404</h1>
    <h3>Страницата не беше намерена</h3>
    <p>Възможно е линкът да е грешен или страницата да е изтрита.</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
        Към началната страница
    </a>
</div>