@using CoffeeTechnik.ViewModels
@model EditServiceRequestViewModel

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RequestType" class="form-label"></label>
        <input asp-for="RequestType" class="form-control" />
        <span asp-validation-for="RequestType" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Requester" class="form-label"></label>
        <input asp-for="Requester" class="form-control" />
        <span asp-validation-for="Requester" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Запази</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}